JetBrains/
Kvantum/
Signal/
Signal-development/
Signal-test/
StardewValley/
abrt/
ags/
autostart/
bruno/
btop/
cava/
chromium/
dconf/
enchant/
eog/
evolution/
fastfetch/
font-manager/
fontconfig/
glib-2.0/
gnome-session/
go/
goa-1.0/
hypr.new/
hypr.old/
ibus/
imsettings/
kanata/
kitty-backup-back-up_0101_2147/
libreoffice/
nextjs-nodejs/
nvim-config/
nvim-dalton/
nwg-look/
obsidian/
org.gnome.Ptyxis/
procps/
pulse/
pypoetry/
simple-scan/
simple-update-notifier/
swappy/
swaync/
systemd/
tigervnc/
totem/
vesktop/
wlogout/
xarchiver/
xfce4/
xsettingsd/
beekeeper-studio/

**/.claude/settings.local.json
