JetBrains/
Kvantum/
Signal/
Signal-development/
Signal-test/
StardewValley/
abrt/
autostart/
bruno/
cava/
chromium/
dconf/
enchant/
eog/
evolution/
fastfetch/
font-manager/
fontconfig/
glib-2.0/
gnome-session/
go/
goa-1.0/
hypr.new/
hypr.old/
ibus/
imsettings/
kitty-backup-back-up_0101_2147/
libreoffice/
nextjs-nodejs/
nvim-config/
nvim-dalton/
obsidian/
org.gnome.Ptyxis/
procps/
pulse/
pypoetry/
simple-scan/
simple-update-notifier/
swappy/
swaync/
systemd/
tigervnc/
totem/
vesktop/
wlogout/
xarchiver/
xfce4/
beekeeper-studio/
eww/
legcord/
spicetify/
prisma-nodejs/
vlc/
Mousepad/
nvim-11/

gemini_history.json
gpt_history.json
sunshine/credentials/
sunshine/sunshine.log

**/.claude/settings.local.json
